.text{
    color: white;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #1f242d;
    border: 0%;
    user-select: auto !important;
    font-size: 100%;
  
    
}
@keyframes appear{
    from{
        opacity: 0;
        /* transform: translateX(-100px); */
        clip-path: inset(1005 1005 0 0);
    }
    to{
        opacity: 1;
        /* transform: translateX(0px); */
        clip-path: inset(0 0 0 0);
    }
}
.name{
    font-size: 5em;
    font-family: monospace;
    padding-top: 15%;
    padding-left: 10%;
    padding-right: 20px;
}
.name_d{
    color: rgb(255, 255, 255);
    letter-spacing: 10px;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(19), 
    cursor .6s step-end infinite alternate;
}
@keyframes cursor{
    80%{border-color : transparent}
}
@keyframes typing {
    from {width: 0 } 
}
.social{
    padding-left: 30%;
}
.About{
    color: #00ffee;
    text-align: center;
    transition: 0.3s ease;
    border-bottom: 5px solid transparent;
    font-size: 80px;
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.About:hover{
 color: aqua;
 border-bottom: 5px solid aqua;
}
.about_1{
    display: flex;
    justify-content: center;
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
 #about{
    width: 80%;
    display: grid;
    grid-template-columns: 30% auto;
    text-align: justify;
    padding-right: 4%;
    background-color: rgb(78, 152, 152);
    height: 600px;
    align-content: center;
    border-radius: 50px;
    font-size: 30px;
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    
 }
 .ph{
    align-content: center;
    display: grid;
    justify-content: center;
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;

 }
 .about_d{
    text-align: justify;
    padding-right: 4%;
    color: rgb(8, 10, 10);
 }
div{
    color: rgb(253, 250, 250);
}
#div_2{
    padding-left: 1%;
}
.id{
    font-size: 1fr;
    padding-left: 10%;
    padding-right: 5%;
}
.id:hover{
    border-bottom: 4px solid aqua;
    color: rgb(255, 255, 255);
    border-radius: 4px ;
}
.bar{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    align-items:center;
    height: 100px;
    background-color: rgb(36, 35, 35);
    padding-right: 2%;
    font-size: 100%;
}
.flex{
    display: flex;
    justify-content: end;
    
}
.menu{
    padding-left: 40px;
    font-size: 150%;
}
/* #Name{
    
    text-align: center;
    font-size:100%;
} */
#Education{
    color: rgb(0, 255, 251);
    font-size: 80px;
    padding-left: 3%;
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    padding-top: 2%;
}
.Education_d{
    font-size: 30px;
    padding-left: 200px;
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
#Achievements{
    color: rgb(0, 255, 251);
    font-size: 80px;
    padding-left: 40%;
    padding-top: 2%;
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.Achievements_d{
    padding-left: 50%;
    /* font-size: 100%; */
    font-size: 30px;
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
#Experience{
    color: rgb(0, 255, 251);
    font-size: larger; 
    padding-left: 18%;
    padding-top: 2%;
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    font-size: 80px;
}
.Experience_d{
    
    padding-left: 25%;
    /* font-size: 100%;
    padding-right: 5%; */
    animation: appear  linear;
    font-size: 30px;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
footer{
    padding-top: 20%;
}
#copyrights{
    text-align: center;
}
#socialmedia{
    
}