.text{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: medium;
}
body{
    background-color: black;
}
footer{
    padding-top: 20%;
    padding-left: 42%;
}

table{
    padding-left: 12%;
}
#git{
    padding-left: 20%;
}
.boxmodel{
    margin: 20px;
    height: 20px;
    border: 100px;
}
#hello{
    padding-left: 690px;
}
#resume_button{
    padding-left: 150px;
    padding-top: 10px;
}
#div_3{
    border: 10px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 10px;
}
 #div_1{
    display: flex;
    padding-top: -20px;
 }
 #div_2{
   padding-left: 100px;
 }
 .button{
    height:50px;
    width: 80px;
    border-radius: 15px;
    box-shadow: 0 0 5px blue, 
    0 0 25px blue;
    background-color: blue;
    text-col
 }
 .button:hover{
    box-shadow: 0 0 5px blue,
    00 0 25px blue, 0 0 50px blue,
    0 0 100px blue, 0 0 200px blue
 }