.text{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: medium;
}
body{
    background-color: black;
    border: 0px;
}
footer{
    padding-top: 20%;
    padding-left: 42%;
}

#git{
    padding-left: 20%;
}
.boxmodel{
    margin: 20px;
    height: 20px;
    border: 100px;
}

#div_3{
    border: 10px;
    padding-left: 90px;
    padding-right: 250px;
    padding-top: 10px;
}
 #div_1{
    padding-top: -20px;
 }
 #div_2{
   padding-left: 200px;
 }
.flex{
    display: flex; 
    justify-content: space-evenly;
    
}
.menu{
    list-style-type: none;
}
li:hover{
    background-color: white;
    color: black;
    padding-left: 30px;
    border-radius: 25%;
}
ul{
    
    display: flex;
    padding-left: 80%;
    
}
li{
    padding-left: 30px;
    font-size: 30px;
}
#Name{
    text-align: center;
    font-size:50px;
}
